<p id="notice"><%= notice %></p>

<h3>Paths</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<table class="table table-responsive">
		  <thead>
		    <tr>
				      <th>Degree</th>
				      <th>Start quarter</th>
				      <th>Course load</th>
				      <th>In class</th>
				      <th>Online</th>
				      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @paths.each do |path| %>
		      <tr>
					<td><%= path.degree_id %></td>
					<td><%= path.start_quarter %></td>
					<td><%= path.course_load %></td>
					<td><%= path.in_class %></td>
					<td><%= path.online %></td>
					<td><%= link_to 'Show', path, class:"btn btn-primary btn-xs color-white" %> </td>
			<td><%= link_to 'Edit', edit_path_path(path), class:"btn btn-warning btn-xs color-white" %></td>
			<td><%= link_to 'Destroy', path, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-xs color-white" %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
        <div class="panel-footer">
		<%= link_to 'New Path', new_path_path, class:"btn btn-success color-white" %>
        </div>
</div>
