<p id="notice"><%= notice %></p>

<div class="panel panel-default">
        <div class="panel-body">
					<div class="margin-vertical">
			  <strong>Course:</strong>
			  <%= @prereq.course_id %>
			</div>
					<div class="margin-vertical">
			  <strong>Prereq course:</strong>
			  <%= @prereq.prereq_course_id %>
			</div>
		        </div>

        <div class="panel-footer">
		<%= link_to 'Back', prereqs_path, class:"btn btn-xs btn-default margin-right" %>
		<%= link_to 'Edit', edit_prereq_path(@prereq), class:"btn btn-xs btn-warning color-white" %>
	</div>
</div>
