<p id="notice"><%= notice %></p>

<h3>Course Frequencies</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<table class="table table-responsive">
		  <thead>
		    <tr>
				      <th>Frequency</th>
				      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @course_frequencies.each do |course_frequency| %>
		      <tr>
					<td><%= course_frequency.frequency %></td>
					<td><%= link_to 'Show', course_frequency, class:"btn btn-primary btn-xs color-white" %> </td>
			<td><%= link_to 'Edit', edit_course_frequency_path(course_frequency), class:"btn btn-warning btn-xs color-white" %></td>
			<td><%= link_to 'Destroy', course_frequency, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-xs color-white" %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
        <div class="panel-footer">
		<%= link_to 'New Course Frequency', new_course_frequency_path, class:"btn btn-success color-white" %>
        </div>
</div>
