<p id="notice"><%%= notice %></p>

<div class="panel panel-default">
        <div class="panel-body">
		<% attributes.reject(&:password_digest?).each do |attribute| -%>
			<div class="margin-vertical">
			  <strong><%= attribute.human_name %>:</strong>
			  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
			</div>
		<% end -%>
        </div>

        <div class="panel-footer">
		<%%= link_to 'Back', <%= index_helper %>_path, class:"btn btn-xs btn-default margin-right" %>
		<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class:"btn btn-xs btn-warning color-white" %>
	</div>
</div>
