
<%= form_for(@user) do |f| %>
<% provide(:title, @current_user.first) %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  
  <% if current_user.admin? %>
    <div class = "form-group">
      <%= f.label :permission %>
      <%= f.select(:role, [['student'], ['faculty'], ['admin']], class: "form-control" ) %>
    </div>
  <% end %>   
      
  <div class="form-group">
    <%= f.label :first %>
    <%= f.text_field :first, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last %>
    <%= f.text_field :last, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit yield(:button_text), class:"btn btn-primary" %>
  </div>
<% end %>