<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :first, "First Name" %>
  <%= f.text_field :first, class: 'form-control form-control-danger' %>

  <%= f.label :last, "Last Name" %>
  <%= f.text_field :last, class: 'form-control' %>
  
  <%= f.label :email, "School Email" %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %> 
  <%= f.password_field :password, class: 'form-control' %>


  <div class="" style="padding:2%; display:inline-block: flex-start;width: 400px;flex-shrink: 10000">
    <%= label_tag("I agree to terms of service") %>
    <%= check_box_tag(:tos, '', false, style: 'flex-shrink:10000')%>
    <%= render 'tos' %>
  </div>
    
  <%= f.submit yield(:button_text), class: "btn btn-primary" , id: 'submit-register-form'%>
  
  </div>
  <script>
    function validateCheckbox(e)
    {
        if(!$('#tos')[0].checked){
          e.preventDefault();
          alert("you have to accept the terms first");
        }
    }
    $(document).on('turbolinks:load', function() {
      $('#submit-register-form').on('click', function(e){
        validateCheckbox(e);
      }); 
    });
  </script>
<% end %>


