<style>body{margin-top:5%;}</style>
<!--<script src="assets/javascripts/sweetalert.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="assets/stylesheets/sweetalert.css">-->

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :first, "First Name" %>
  <%= f.text_field :first, class: 'form-control form-control-danger' %>

  <%= f.label :last, "Last Name" %>
  <%= f.text_field :last, class: 'form-control form-control-danger' %>
  
  <%= f.label :email, "School Email" %>
  <%= f.email_field :email, class: 'form-control form-control-danger' %>

  <%= f.label :password %> 
  <%= f.password_field :password, class: 'form-control form-control-danger' %>


  <div class="container row" style="align-items:flex-start;padding:2%; display:inline-block;margin-bottom:-5%;width: 400px;flex-shrink: 10000">
    <%= label_tag("I agree to terms of service") %>
    <%= check_box_tag(:tos, '', false) %>
    </div>
    <div class="" style="margin-bottom:25px;margin-left:2px;">
    <%= render 'tos' %>
  </div>
    
  <%= f.submit yield(:button_text), class: "btn btn-primary" , id: 'submit-register-form'%>
  
  </div>
  <script>

    function validateCheckbox(e)
    {
        if(!$('#tos')[0].checked){
          e.preventDefault();
          sweetAlert("Please agree to Terms of Service");
        }
    }
    $(document).on('turbolinks:load', function() {
      $('#submit-register-form').on('click', function(e){
        validateCheckbox(e);
      }); 
    });
  </script>
<% end %>


