<%# app/views/students/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%= page_entries_info users # provided by will_paginate %>
  </div>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Registered at</th>
    </tr>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to(student.full_name, student_path(student)) %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= student.decorated_created_at %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate students # provided by will_paginate %>