<!DOCTYPE html>
<html>
<head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
  <header> 
    <nav class="navbar-default">   <!--Nav bar default -->
      <div class = "navbar-header">
          <a class="navbar-brand" href="#">Capstone</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  <!--Nav bar collapsed upong screensize -->
        <ul class="nav navbar-nav navbar-left"> <!-- Top NAV start -->
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Student", root_path %></li>
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Faculty", root_path %></li>
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Admin", root_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Db Tables <span class="caret"></span></a>
          <ul class="dropdown-menu">
		  <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to "Users", users_path %></li>
		  <li class="<%= 'active' if current_page?(completed_courses_path) %>"><%= link_to "Completed Courses", completed_courses_path %></li>
		  <li class="<%= 'active' if current_page?(degrees_path) %>"><%= link_to "Degrees", degrees_path %></li>
		  <li class="<%= 'active' if current_page?(paths_path) %>"><%= link_to "Paths", paths_path %></li>
		  <li class="<%= 'active' if current_page?(degree_reqs_path) %>"><%= link_to "Degree Reqs", degree_reqs_path %></li>
		  <li class="<%= 'active' if current_page?(path_courses_path) %>"><%= link_to "Path Courses", path_courses_path %></li>
		  <li class="<%= 'active' if current_page?(courses_path) %>"><%= link_to "Courses", courses_path %></li>
		  <li class="<%= 'active' if current_page?(course_terms_path) %>"><%= link_to "Course Terms", course_terms_path %></li>
		  <li class="<%= 'active' if current_page?(course_frequencies_path) %>"><%= link_to "Course Frequencies", course_frequencies_path %></li>
		  <li class="<%= 'active' if current_page?(prereqs_path) %>"><%= link_to "Prereqs", prereqs_path %></li>
		  <li class="<%= 'active' if current_page?(course_deliveries_path) %>"><%= link_to "Course Deliveries", course_deliveries_path %></li>
          </ul>
        </li>
	</ul>

        <!-- Right side TOP NAV page links deleted-->
        <ul class="nav navbar-nav navbar-right"> <!-- Top NAV start -->
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Sign In", root_path %></li>
        </ul>
      </div>

    </nav>
  </header>

<%= yield %>
</body>

