<h3>Browse Courses</h3>

<div class = "col-lg-4 col-md-4 col-sm-4 col-xs-6" style="float:right;margin-top:2%;margin-bottom:2%">
    <%= form_tag(browse_courses_path, method: :get) do %>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 course_search_input">
        <%= text_field_tag :term, params[:term], placeholder: "Search...", style: "padding-left: 15px" %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 course_search_button" >
        <%= submit_tag 'Search', name: nil %>
    </div>
<% end %>
</div>

<div class="panel panel-default">
        <div class="panel-body">
		<table class="table table-responsive">
		  <thead>
		    <tr>
				      <th>Name</th>
				      <th>Course code</th>
				      <th>Description</th>
				      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @browse_course.each do |browse_course| %>
		      <tr>
					<td>
                        <span style="font-size: 15px"><%= browse_course.name %></span>
                    </td>
                    <td>
                        <span style="font-weight: 600"><%= browse_course.course_code %></span>
                    </td>
                    <td>
                        <span style="word-wrap:break-word;">
                            <%= simple_format((browse_course.description).gsub!(/(PREREQUISITE\(S\)|PREREQUISITE|Prerequisite(s)|PREREQUISITES)/, '<br /><br />PREREQUISITE(S):') || browse_course.description + "<br /><br />PREREQUISITE(S): None" ) %>
                        </span>
                    </td>
					<td><%= link_to 'Show', browse_course_path(browse_course), class:"btn btn-primary btn-xs color-white" %> </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
        <div class="panel-footer">
        </div>
</div>
