<p id="notice"><%= notice %></p>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-default">
        <div class="panel-body">
			<div class="margin-vertical">
			  <strong>Course code:</strong>
			  <%= @browse_course.course_code %>
			</div>
			<div class="margin-vertical">
			  <strong>Name:</strong>
			  <%= @browse_course.name %>
			</div>
			<div class="margin-vertical">
			  <strong>Description:</strong>
			  <%= @browse_course.description %>
			</div>
			<div class="margin-vertical">
			 <strong>Prerequisite:</strong>
			 </div>
			<div class="margin-vertical"
			  <ul style="list-style-type:circle">
			    <% @browse_course_prereq.each do |item| %>
			      <li><%= item.name %> <%= link_to 'View', browse_course_path(item), class:"btn btn-primary btn-xs color-white" %> </li>
			    <% end %>
			  <ul>
			</div>
		</div>

        <div class="panel-footer">
		<%= link_to 'Back', browse_courses_path, class:"btn btn-xs btn-default color-white" %>
	</div>
</div>
